.add_btn{
    border: none;
    border-radius: 20px;
    background-color: var(--color7);
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    font-size: 30px;
    font-weight: 700;
    color: var(--color5);
    height: 70px;
    width: 500px;
    cursor: pointer;
}