.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20vw; 
}

.letter {
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 2px rgba(218, 202, 59, 1);
  animation: fillText 7.5s infinite;
}

@keyframes fillText {
  0% {
    color: rgba(218, 202, 59, 1);
    -webkit-text-stroke: 2px rgba(218, 202, 59, 1);
  }
  100% {
    color: transparent;
    -webkit-text-stroke: 2px rgba(218, 202, 59, 1);
  }
}


