
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One:wght@&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root {
    --color1: #216249ff;
    --color2: #daca3bff;
    --color3: #000000;
    --color4: #d9d9d9;
    --color5: #ffffff;
    --color6: #1d5a43;
    --color7: #20835d;
}

.headerContainer{
    position: absolute;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerContainer>h1{
    padding: 50px;
    font-size: 60px;
    font-weight: 400;
    color: var(--color2);
    font-family: "Chicle" ,sans-serif;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    color: var(--color5);
    cursor: pointer;
    font-family: "inter" ,sans-serif;
    
}
ul>li{
    padding: 26px;
}
.base-link {
    text-decoration: none;
    color: var(--color5);
  }
  
.active-link {
    color: var(--color2);
}

ul>li:last-child{

}
.activePage{
    color: var(--color2);
}