:root {
    --color1: #216249ff;
    --color2: rgb(218,202,59);
    --color3: #000000;
    --color4: #d9d9d9;
    --color5: #ffffff;
    --color6: #1d5a43;
    --color7: #20835d;
}

  .carousel-container {
    
    border-radius: 20px;
  }
  
  .carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 600px;
    overflow: hidden;
  }
  
  .carousel-item {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color5);
    color: var(--color3);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .carousel_img{
    background-size: cover;
    width: 30%;
    height: 100%;
  }
  .carousel_txt{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    p{
        font-size: 4vh;
    }
    h2{
        font-size: 5vh;
    }

  }

  .ligne{
    width: 30%;
    border-top: 2px solid var(--color3);
  }
  
  .carousel-dots {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  
  .dot {
    width: 50px;
    height: 50px;
    background-color: var(--color7);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: var(--color2);
  }


  @media (max-width: 768px) {
    .carousel-item {
      flex-direction: column;
    }

    .carousel_img{
      background-size: cover;
      width: 100%;
      height: 50%;
    }


    .carousel_txt{
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      p{
        font-size: 2vh;        
      }
      h2{
        font-size: 4vh;
    }

    }
  }